<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.AuditRecipeMapper">
    <resultMap id="ResultMap" type="AuditRecipe">
        <result column="id" property="id"/>
        <result column="audit_id" property="auditId"/>
        <result column="client_name" property="clientName"/>
        <result column="name" property="recipeName"/>
        <result column="ignore" property="ignore"/>
        <result column="update_datetime" property="updatedDatetime"/>
    </resultMap>

    <select id="getAuditRecipes" resultMap="ResultMap">
        select t1.id, t1.audit_id, t1.client_name, t1.name, t1.ignore, t1.update_datetime
        from audit_recipe t1
        where t1.audit_id=#{auditId}
    </select>

    <delete id="deleteAuditRecipes">
        delete from audit_recipe where audit_id=#{auditId}
    </delete>

    <insert id="createDummyAuditRecipe">
        insert into audit_recipe(audit_id, client_name, name, update_datetime) values(#{recipeObj.auditId},
        #{recipeObj.clientName}, #{recipeObj.recipeName}, SYSDATETIME())
    </insert>


    <insert id="insertAuditRecipe" parameterType='AuditRecipe'>
        insert into audit_recipe(audit_id, client_name, name, update_datetime) values(#{auditRecipe.auditId},
        #{auditRecipe.clientName}, #{auditRecipe.recipeName}, SYSDATETIME())
    </insert>

    <select id="getAuditRecipeByName" resultMap="ResultMap">
        select audit_recipe.id, audit_recipe.audit_id, audit_recipe.client_name, audit_recipe.name, ignore, audit_recipe.update_datetime
        from audit_recipe, audit
        where name=#{recipeName} and audit_recipe.audit_id=#{auditId}
        and audit_recipe.audit_id=audit.id
    </select>

    <select id="getAuditRecipe" resultMap="ResultMap">
        select t1.id, t1.audit_id, t1.client_name, t1.name, t1.ignore, t1.update_datetime
        from audit_recipe t1
        where t1.id=#{auditRecipeId}
    </select>

</mapper>