<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.ClientMapper">
    <resultMap id="ResultMap" type="Client">
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
    </resultMap>

    <select id="getClients" resultMap="ResultMap">
        select name, email, phone, update_datetime from client
    </select>
</mapper>