<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.ClientProductMapper">
    <resultMap id="ResultMap" type="ClientProduct">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="retail_price" property="retailPrice"/>
        <result column="update_datetime" property="updatedDatetime"/>
    </resultMap>

    <select id="getClientProducts" resultMap="ResultMap">
        select id, product_id, retail_price, update_datetime
        from client_product
        where client_name=#{clientName}
    </select>

    <select id="getClientProduct" resultMap="ResultMap">
        select client_product.id, client_product.product_id, client_product.client_name, product.name,
        client_product.size_id,
        client_product.serving, client_product.retail_price, product.tare, product.cost, product.fulls, product.cases,
        product.upc, product.tags, client_product.update_datetime
        from product, client_product
        where product.id=client_product.product_id
        and client_product.id = #{productId}
    </select>

    <select id="getLinkedClientProducts" resultMap="ResultMap">
        select client_product.id, client_product.product_id, client_product.client_name, product.name,
        client_product.size_id,
        client_product.serving, client_product.retail_price, product.tare, product.cost, product.fulls, product.cases,
        product.upc, product.tags, client_product.update_datetime
        from product, client_product
        where product.id=client_product.product_id
        and client_product.product_id = #{parentProductId}
    </select>

    <delete id="deleteClientProduct">
        delete from client_product where id=#{productId}
    </delete>


    <select id="getNumberOfClientProductsBySizeId" resultType="Integer">
        select count(*) from client_product where size_id=#{sizeId}
    </select>


</mapper>