<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.ModifierMapper">
    <resultMap id="ResultMap" type="Modifier">
        <id column="id" property="id" />
        <result column="client_name" property="clientName" />
        <result column="modifier_name" property="modifierName" />
        <result column="percentage" property="percentage" />
        <result column="update_datetime" property="updatedDatetime" />
    </resultMap>

    <select id="getClientModifiers" resultMap="ResultMap">
        select client_name, modifier_name, percentage, update_datetime from modifier where client_name=#{clientName} order by modifier_name
    </select>

    <select id="getModifiers" resultMap="ResultMap">
        select client_name, modifier_name, percentage, update_datetime from modifier
    </select>

    <select id="getModifier" resultMap="ResultMap">
        select client_name, modifier_name, percentage, update_datetime from modifier where id=#{modifierId}
    </select>

</mapper>