<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.ProductMapper">
    <resultMap id="ResultMap" type="Product">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="tare" property="tare"/>
        <result column="cost" property="cost"/>
        <result column="fulls" property="fulls"/>
        <result column="cases" property="cases"/>
        <result column="upc" property="upc"/>
        <result column="tags" property="tags"/>
        <result column="update_datetime" property="updatedDatetime"/>
    </resultMap>

    <select id="getProducts" resultMap="ResultMap">
        select id, name,tare, cost, fulls, cases, upc, tags, update_datetime from product
    </select>

    <delete id="deleteProduct">
        delete from product where id=#{productId}
    </delete>

</mapper>