<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharpic.domain.RecipeMapper">
    <resultMap id="ResultMap" type="Recipe">
        <result column="id" property="id"/>
        <result column="client_name" property="clientName"/>
        <result column="name" property="recipeName"/>
        <result column="ignore" property="ignore"/>
        <result column="update_datetime" property="updatedDatetime"/>
    </resultMap>

    <select id="getClientRecipes" resultMap="ResultMap">
        select t1.id, t1.client_name, t1.name, t1.ignore, t1.update_datetime from recipe t1,
        (select client_name, name, max( update_datetime) as update_datetime from recipe
        where ignore = 0 and client_name=#{clientName}
        group by client_name, name) t2
        where t1.client_name=t2.client_name
        and t1.name=t2.name
        and t1.update_datetime=t2.update_datetime
    </select>

    <select id="getAllRecipes" resultMap="ResultMap">
        select t1.id, t1.client_name, t1.name, t1.ignore, t1.update_datetime from recipe t1,
        (select client_name, name, max( update_datetime) as update_datetime from recipe
        where ignore = 0
        group by client_name, name) t2
        where t1.client_name=t2.client_name
        and t1.name=t2.name
        and t1.update_datetime=t2.update_datetime
    </select>

    <select id="getRecipe" resultMap="ResultMap">
        select t1.id, t1.client_name, t1.name, t1.ignore, t1.update_datetime from recipe t1
        where t1.id=#{recipeId}
    </select>


    <select id="getRecipeByName" resultMap="ResultMap">
        select t1.id, t1.client_name, t1.name, t1.ignore, t1.update_datetime from recipe t1,
        (select client_name, name, max( update_datetime) as update_datetime from recipe
        where client_name=#{clientName} and name=#{recipeName}
        group by client_name, name) t2
        where t1.client_name=t2.client_name
        and t1.name=t2.name
        and t1.update_datetime=t2.update_datetime
    </select>

    <insert id="createRecipe" parameterType='Recipe'>
        insert into recipe(client_name, name, update_datetime) values(#{recipe.clientName}, #{recipe.recipeName}, SYSDATETIME())
    </insert>


</mapper>