<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="auditsController">
    <h1 class="page-header">Audits</h1>

    <div>
        <span>
        <select ng-model="clientName" ng-options="x for x in clientNames" ng-style="{'width': '180px', 'padding' : '2px'}"></select>
        <select ng-model="auditDate" ng-options="y for y in auditDates" ng-style="{'width': '180px', 'padding' : '2px'}"></select>
        <select ng-model="selectedVenue" ng-options="x for x in allVenus" ng-style="{'width': '180px', 'padding' : '2px'}"></select>

        <label/>
        <button ng-click="addAudit()" ng-style="{'width': '100px'}">Add Audit</button>
        <button ng-click="deleteAudit()" ng-style="{'width': '100px'}">Delete Audit</button>
        <button ng-click="addEntry()" ng-style="{'width': '100px'}">Add Entry</button>
        <button ng-click="addModifiers()" ng-style="{'width': '120px'}">Add Modifiers</button>
        </span>
    </div>

    <p>{{ message }}</p>

</div>
