<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="auditsController">
    <h1 class="page-header">Audits</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" ng-model="clientName" ng-options="x for x in clientNames" ng-change="selectClient()"></select>
            </div>
            <div class="col-sm-2">
                <select class="form-control" ng-model="auditDate" ng-options="y for y in auditDates" ng-change="selectAudit()"></select>
            </div>
            <button type="button" ng-click="addAudit()" class="btn btn-primary ">
                <span class="glyphicon glyphicon-plus"></span> Add Audit
            </button>
            <button type="button" ng-click="removeAudit()" class="btn btn-primary">
                <span class="glyphicon glyphicon-remove"></span> Delete Audit
            </button>

        </div>
    </div>

    <br/>

    <tabset>
        <tab heading="Entry">
            <table datatable="ng" dt-options="dtOptions" class="table table-striped">
                <thead>
                    <tr>
                        <th ts-criteria="productDescription" ts-default>Product</th>
                        <th ts-criteria="weights">Partials</th>
                        <th ts-criteria="fulls">Fulls</th>
                        <th ts-criteria="bin">Bin</th>
                        <th ts-criteria="location">Location</th>
                        <th style="width:90px">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in auditEntries" ts-repeat>
                        <td>{{entry.productDescription}}</td>
                        <td>{{entry.weights}}</td>
                        <td>{{entry.amount}}</td>
                        <td>{{entry.bin}}</td>
                        <td>{{entry.location}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                            <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="Modifier">
        </tab>
    </tabset>
</div>
