<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="clientController">
    <h1 class="page-header">Clients</h1>
    <div class="wrapper">
        <div class="row">
            <button type="button" ng-click="addClient()" class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-plus"></span> Add Client
            </button>

        </div>
    </div>

    <br/>

    <table class="table table-striped" ts-wrapper>
        <thead>
        <tr>
            <th ts-default style="width:16%" >Client Name</th>
            <th style="width:38%" >Locations</th>
            <th style="width:38%" >Modifiers</th>
            <th style="width:8%" >Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in clients" ts-repeat>
            <td>{{client.name}}</td>
            <td>{{getLocationNames(client)}}</td>
            <td>{{getModifierNames(client)}}</td>
            <td>
                <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
        </tbody>
    </table>


</div>