<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="recipeController">
    <h1 class="page-header">Recipes</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" ng-model="clientName" ng-options="x for x in clientNames" ng-change="selectClient()"></select>
            </div>
            <div class="input-group col-sm-3 pull-right">
                <input type="text"  class="form-control"/>
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>

        </div>
    </div>

    <br/>

    <tabset>
        <tab heading="Active">
            <table class="table table-stripped table-condensed table-hove" ts-wrapper>
                <thead>
                <tr>
                    <th ts-criteria="name" ts-default  style="width: 20%">Name</th>
                    <th ts-criteria="description"  style="width: 70%">Description</th>
                    <th  style="width: 10%">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="recipe in recipes" ts-repeat>
                    <td>{{recipe.recipeName}}</td>
                    <td>{{recipe.recipeItems}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="History">
        </tab>
    </tabset>
</div>
