<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="saleController">
    <h1 class="page-header">Sales</h1>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" ng-model="clientName" ng-options="x for x in clientNames"
                        ng-change="selectClient()"></select>
            </div>

            <div class="col-sm-2">
                <select class="form-control" ng-model="auditDate" ng-options="y for y in auditDates"
                        ng-change="selectAudit()"></select>
            </div>

            <div class="fileUpload btn btn-primary"><span>Upload Sale</span>
                <input class="upload" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </div>
        </div>
    </div>
    <br/>
    <tabset>
        <tab heading="Sales">
            <table datatable="ng" dt-options="dtOptions" class="table table-striped">
                <thead>
                <tr>
                    <th ts-criteria="recipeDescription" ts-default>Recipe Name</th>
                    <th ts-criteria="recipeDescription" ts-default>Recipe Items</th>
                    <th ts-criteria="amount">Amount</th>
                    <th ts-criteria="price">Price</th>
                    <th ts-criteria="updateDate">Update Date</th>
                    <th style="width:90px">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sale in auditSales" ts-repeat>
                    <td>{{sale.recipe.recipeName}}</td>
                    <td>{{sale.recipeDescription}}</td>
                    <td>{{sale.amount}}</td>
                    <td>{{sale.price}}</td>
                    <td>{{sale.updatedDatetime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>
                        <button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
                        <button class="btn btn-success btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </tab>
    </tabset>
</div>
