<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="saleController">
    <h1 class="page-header">Sales</h1>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-3">
                <select class="form-control" ng-model="clientName" ng-options="x for x in clientNames"
                        ng-change="selectClient()"></select>
            </div>

            <div class="col-sm-2">
                <select class="form-control" ng-model="auditDate" ng-options="y for y in auditDates"
                        ng-change="selectAudit()"></select>
            </div>

            <div class="fileUpload btn btn-primary"><span>Upload Sales</span>
                <input class="upload" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
            </div>

            <button type="button" ng-click="addSale()" class="btn btn-danger pull-right">
                <span class="glyphicon glyphicon-plus"></span> Add Sale
            </button>

        </div>
    </div>
    <br/>
    <div>
        <div ui-grid="auditSalesOptions" ui-grid-edit class="grid"></div>
    </div>
</div>
